<div class="o-hamburger js-toggleNav">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav class="o-spNav">
    <ul class="o-spNav__list">
        <li class="o-spNav__item">
            <a href="#">テキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">境界確認テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">境界確認テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">境界確認テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">境界確認テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">境界確認テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">境界確認テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">境界確認テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">テキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">テキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="<#">テキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">テキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">テキスト</a>
        </li>
        <li class="o-spNav__item">
            <a href="#">テキスト</a>
        </li>
    </ul>
</nav>
<div class="o-spNavBg"></div>
